header {
    height: 100px;
    background-color: rgb(78, 160, 255);
    background-image: url('/Users/vincenzorobertosergi/Documents/Study/Boolean/Full-Stack/3 - CSS/html-css-booleaner/img/pattern.png');
    background-size: 50%;
}

#logo-booleaner {
    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
}

h1 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 0;
}

.written-by {
    font-size: 16px;
    font-weight: 300;
    color: grey;
}

#author {
    font-size: 16px;
    color: rgb(0, 170, 255);
}

.date {
    font-size: 12px;
    color: grey;
}

.photos {
    margin-top: 20px;
}

.photo-description {
    font-size: 12px;
}